<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Application</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% block content %}

<div class="container">
    <form action="">
  <h2>quiz</h2>
    {% for question in quiz %}
    <p>{{question.question}}</p>
    <div class="radio">
        <label><input type="radio" name="{{question.id}}" value="{{question.option1}}">Option 1</label>
        </div>
    <div class="radio">
        <label><input type="radio" name="{{question.id}}" value="{{question.option2}}">Option 2</label>
    </div>
        <div class="radio">
        <label><input type="radio" name="{{question.id}}" value="{{question.option3}}" >Option 3</label>
        </div>
        <div class="radio">
        <label><input type="radio" name="{{question.id}}" value="{{question.option4}}">Option 4</label>
        </div>
        {% endfor %}
        <div class="">
            <button class="primary">Submit</button>
        </div>
</form>

</div>

{% endblock %}
</html>